<div class="about-page page">
	
	<div class="shade-box main-intro-box"> 
		<div><img id="about-pic" src=<%=image_path("lawpic")%>></div><div class="about-info">It's a magical world out there. Let's go exploring!</div>
	</div>

	<div class="white-box more-about-me-box">
		<div>
		I am a full-stack programmer and web developer, particularly proficient in JavaScript, ruby and Python. Quick to adapt to new environments and pick up new skills, I am also a professional archivist, event planner, fluent in Japanese and excellent at office and network management. All of my past projects have led me towards my true passion: helping people be healthier and happier by building positive products that are more efficient and intuitive than anything you've seen before.
		</div>
		<br>
		<div>Born in Los Angeles, CA, my desire to see and experience the world has led me to travel across the world. Though I currently live in NY, no opportunity is too far away, and adventure is insurmountable.</div>
	</div>

	<div class="call-to-action">
			<div class="heading cta-heading">
				<div class="pre-heading">Want to learn more?</div>
				<div class="main-heading">Check out my resume!</div>
				<div><span class="heading-link box-link"><a href="/resume">Click Here</a></span></div>
			</div>
		</div>
	</div>


	<div class="shade-box everyday-life-box" id="about-life-box">
		<div class="everyday-life-title">MY EVERYDAY LIFE</div>
		<div class="everyday-life-list">
				<img class="everyday-image ev-about-img" id="map-image1" src=<%=image_path("favorites8")%>>
				
				<img class="everyday-image ev-about-img" id="map-image2" src=<%=image_path("favorites9")%>>
				
				<img class="everyday-image ev-about-img" id="map-image3"  src=<%=image_path("favorites2")%>>

				<img class="everyday-image ev-about-img" id="map-image4"  src=<%=image_path("favorites3")%>>
		</div>
		<div class="everyday-life-list">
				<img class="everyday-image ev-about-img" id="map-image5"  src=<%=image_path("favorites4")%>>
				
				<img class="everyday-image ev-about-img" id="map-image6"  src=<%=image_path("favorites5")%>>
				
				<img class="everyday-image ev-about-img" id="map-image7"  src=<%=image_path("favorites6")%>>

				<img class="everyday-image ev-about-img" id="map-image8"  src=<%=image_path("favorites7")%>>
		</div>
		<div id="above-map">Click an image to see where I took the picture!</div>
	</div>

	<div>
		<div id="map" style='width: 100%; height: 400px;'></div>
	</div>

	<div class="dark-call-to-action">
			<div class="cta-heading">
				<span class="pre-heading">Want me to build you something awesome?</span>
				<span class="heading-link box-link"><a href="/contacts/new">Contact me!</a></span>
			</div>
		</div>
	</div>

</div>