<div class="shade-box main-intro-box"> Always create, always work, and always have fun. Believe it or not, they can all be the same thing.</div>

<div class="white-box why-me-video-box">
	<div class="why-me-title">WHO AM I?</div>
	<div class="why-me-video">
		<img src=<%=image_path("testbg1")%>>
	</div>
	<div><span class="why-me-button shade-button">More About Me</span></div>
</div>

<div class="shade-box-no-padding latest-projects-box">
<div class="latest-projects-title">MY LATEST PROJECTS</div>
<div class="latest-projects">
	<span class="recent-project highlight-box">Chess</span>
	<span class="recent-project highlight-box">Verona</span>
	<span class="recent-project highlight-box">Juke</span>
</div>
<div class="more-projects-button-box button-box"><span class="more-projects-button white-button">More Projects</span></div>
</div>

<div class="white-box what-i-do-box">
	<div class="what-i-do-title">ADVENTURES IN LAWSON</div>
	<div class="what-i-do-list">
		<span class="one-thing-i-do">
			<div class="thing-i-do-image"><img src=<%=image_path("testbg1")%>></div>
			<div class="thing-i-do-header">Code Lessons</div>
			<div class="thing-i-do-description">These are the lessons I've learned</div>
		</span>
		<span class="one-thing-i-do">
			<div class="thing-i-do-image"><img src=<%=image_path("testbg1")%>></div>
			<div class="thing-i-do-header">EE Experience</div>
			<div class="thing-i-do-description">These are my emotional experiences</div>
		</span>
		<span class="one-thing-i-do">
			<div class="thing-i-do-image"><img src=<%=image_path("testbg1")%>></div>
			<div class="thing-i-do-header">DBC Adventures</div>
			<div class="thing-i-do-description">These are my adventures at DBC</div>
		</span>
	</div>
	<div><span class="what-i-do-button white-button">My Blog</span></div>
</div>

<div class="call-to-action">
		<div class="heading cta-heading">
			<div class="pre-heading">Need a website built?</div>
			<div class="main-heading">HIRE ME TODAY!</div>
			<div><span class="heading-link">Contact me!</span></div>
		</div>
	</div>
</div>

<div class="white-box everyday-life-box">
	<div class="everyday-life-title">MY FAVORITE THINGS</div>
	<div class="everyday-life-list">
		<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
			<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
			<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
	</div>
	<div class="everyday-life-list">
		<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
			<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
			<span class="everyday-image">
			<img src=<%=image_path("testbg1")%>>
		</span>
	</div>
	<div class="everyday-life-button-box button-box"><span class="everyday-life-button white-button">More About Me</span></div>
</div>

<div class="shade-box-no-padding latest-blogs-box">
<div class="latest-blogs-title">MY RECENT BLOG POSTS</div>
<div class="latest-blogs">
	<span class="recent-blog highlight-box">Coding and You</span>
	<span class="recent-blog highlight-box">Why Not Buy?</span>
	<span class="recent-blog highlight-box">Don't Type That</span>
</div>
<div class="more-blogs-button-box button-box"><span class="more-projects-button white-button">More Blog Posts</span></div>
</div>

<div class="dark-call-to-action">
		<div class="cta-heading">
			<span class="pre-heading">Hire the best developer around!</span>
			<span class="heading-link">Contact me!</span>
		</div>
	</div>
</div>