<div id="myModal" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Contact Me</h3>
  </div>
  <div class="modal-body">

    <div align="center">
	  <%= simple_form_for @contact, :html => {:class => 'form-horizontal', :id => 'send-mail-form' } do |f| %>
	    <%= f.input :name, :required => true %>
	    <%= f.input :email, :required => true %>
	    <%= f.input :message, :as => :text, :required => true %>
	    <div class= "hidden">
	      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	    </div>
	    <div>
	      </br>
	      <%= f.button :submit, 'Send message', :class=> "submit-email-btn btn btn-primary" %>
	    </div>
	  <% end %>
	  </div>
	  
	</div>
</div>

