<!DOCTYPE html>
<html>
<head>
  <title>LawsonSite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
		<div class="top-navbar">
			<span class="icon top-icon"><img src=<%=image_path("testbg1")%>></span>
			<span class="nav-links">
				<span>Home</span>
				<span>About</span>
				<span>Projects</span>
				<span>Blog</span>
				<span id="nav-contact">Contact</span>
			</span>
		</div>
		<div class="heading">
			<div class="pre-heading">Developing mind and machine</div>
			<div class="main-heading">LAWSON MARLOWE</div>
			<div><span class="heading-link">Watch Video</span></div>
		</div>
	</div>
</header>


<%= yield %>

<footer class="footer">
	<div class="bottom-navbar">
				<div class="icon bottom-icon"><img src=<%=image_path("testbg1")%>></div>
				<div class="footer-nav-links">
					<span>Home</span>
					<span>About</span>
					<span>Resume</span>
					<span>Projects</span>
					<span>Blog</span>
					<span>Contact</span>
				</div>
				<div class="copywrite">@2016 Lawson Marlowe. All rights reserved. Fullstack Developer/UX-UI Expert</div>
				<div class="legal">
					<span>Terms of Service</span>
					<span>Privacy Policy</span>
				</div>
			</div>
			<div class="social-media-icons">
				<span><img src=<%=image_path("testbg1")%>></span>
				<span><img src=<%=image_path("testbg1")%>></span>
				<span><img src=<%=image_path("testbg1")%>></span>
				<span><img src=<%=image_path("testbg1")%>></span>
				<span><img src=<%=image_path("testbg1")%>></span>
				<span><img src=<%=image_path("testbg1")%>></span>
			</div>
		</div>
	  <div class="footer-filler"></div>
</footer>

</body>
</html>
